/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #F7F7F7;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  font-family: Microsoft JhengHei;
  font-weight: bold; }
  body .header {
    width: 100%;
    height: 380px;
    background-image: url(../image/the-urban-landscape-1698285.png);
    background-position: top center;
    background-size: 100%;
    position: relative; }
    body .header h1 {
      font-size: 40px;
      color: #FFFFFF;
      letter-spacing: 3.89px;
      position: absolute;
      top: 89px;
      left: 380.5px; }
    body .header #mySelect {
      font-family: Microsoft JhengHei;
      font-weight: bold;
      border: 3px solid #FFFFFF;
      border-radius: 3px;
      width: 452px;
      height: 48px;
      position: relative;
      top: 225px;
      left: 293px;
      font-size: 18px;
      color: #000000;
      line-height: 21px;
      -webkit-appearance: none;
      background: url(../image/icons_down.png) no-repeat right rgba(255, 255, 255, 0.7);
      background-position-x: 419px; }
  body .rectangle {
    width: 800px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    margin-top: -28px; }
    body .rectangle p {
      position: absolute;
      top: 20px;
      left: 26px; }
    body .rectangle .hot1 {
      width: 130px;
      height: 42px;
      background: #8A82CC;
      border-radius: 5px;
      font-size: 20px;
      color: #FFFFFF;
      position: absolute;
      top: 52px;
      left: 51px;
      text-align: center;
      line-height: 42px; }
    body .rectangle .hot2 {
      width: 130px;
      height: 42px;
      background: #FFA782;
      border-radius: 5px;
      font-size: 20px;
      color: #FFFFFF;
      position: absolute;
      top: 52px;
      left: 204px;
      text-align: center;
      line-height: 42px; }
    body .rectangle .hot3 {
      width: 130px;
      height: 42px;
      background: #F5D105 100%;
      border-radius: 5px;
      font-size: 20px;
      color: #FFFFFF;
      position: absolute;
      top: 52px;
      left: 364px;
      text-align: center;
      line-height: 42px; }
    body .rectangle .hot4 {
      width: 130px;
      height: 42px;
      background: #559AC8 100%;
      border-radius: 5px;
      font-size: 20px;
      color: #FFFFFF;
      position: absolute;
      top: 52px;
      left: 524px;
      text-align: center;
      line-height: 42px; }
  body hr {
    margin-top: 49px;
    width: 900px;
    border: 1px dashed #559AC8; }

.main {
  padding-top: 128px;
  width: calc(100% - 40px);
  height: 500px;
  display: inline-block;
  position: relative;
  padding-left: 24px; }
  .main h2 {
    position: absolute;
    top: 65px;
    left: 458px;
    font-size: 36px;
    color: #8A82CC; }
  .main .content {
    display: inline-block;
    width: 464px;
    height: 273px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin-left: 16px; }
    .main .content:nth-child(n+3) {
      margin-top: 36px; }
    .main .content h3 {
      position: absolute;
      top: 117px;
      left: 22px;
      font-size: 24px;
      color: #FFFFFF; }
    .main .content h4 {
      position: absolute;
      top: 125px;
      left: 391px;
      font-size: 16px;
      color: #FFFFFF; }
  .main .clock {
    position: absolute;
    top: 170px;
    left: 23px; }
    .main .clock img {
      margin-right: 9px; }
  .main .pin {
    position: absolute;
    top: 201px;
    left: 24px; }
    .main .pin img {
      margin-right: 10px; }
  .main .phone {
    position: absolute;
    top: 233px;
    left: 26px; }
    .main .phone img {
      margin-right: 12px; }
  .main .ticket {
    position: absolute;
    top: 233px;
    left: 346px; }
    .main .ticket img {
      margin-right: 8px; }

.footer {
  margin-top: 107px;
  height: 90px;
  width: 100%;
  background: #559AC8;
  display: inline-block;
  position: relative; }
  .footer h3 {
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    top: 24px;
    left: 477px; }
  .footer p {
    font-size: 14px;
    color: #FFD366;
    position: absolute;
    top: 53px;
    left: 440px; }

#gotop {
  width: 24px;
  height: 24px;
  background-image: url(../image/btn_goTop.png);
  background-position: center;
  position: fixed;
  bottom: 9.5%;
  right: 2.7%; }
